<h1>Create a new search</h1>
<%= simple_form_for @search, html: { data: { controller: "criteria" } } do |f| %>
  <%= f.input :job_title %>
  <%= f.input :job_description,
      input_html: {
        data: { criteria_target: "input", action: "input->criteria#analyze" }
      } %>


  <%= f.submit "Create Search", class: "btn btn-primary",
        data: { turbo_submits_with: "Searching candidates…" } %>
<% end %>
